#posts {
    width: 100%;
}

#posts > .card {
    width: 400px;
    margin: 0 auto;
}

#posts > .card > .card-body {
    overflow: hidden;
}

table th,
table td {
    border: 1px solid #aaa;
    box-sizing: content-box;
    padding: 5px 10px;
}

table th {
    background: #eee;
}