body {
  margin: 0;
  background-color: #eee;
  font-family: 'Cabin','Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@import "~react-image-gallery/styles/css/image-gallery.css";
